<footer>
   <p>&copy; 2013, Gozzilioni</p>
   <div id='rss'><a href='/feed/'><i class='icon-rss'></i> Subscribe </a></div>
</footer>
</div> <!-- /wrapper -->
<script src="javascripts/scale.fix.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
       document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
   try {
      var pageTracker = _gat._getTracker("UA-39896654-2");
          pageTracker._trackPageview();
       } catch(err) {}
</script>

</body>
</html>