<header>
  <address>
    <p class='address-block'><a href='https://editthis.info/heroes'>Who's Who originale </a>
  </address>
  <div id='social'>
    <a href='http://catlong.net/party'><i> Catlong's Heroes' Party</i></a><br>
    <a href='http://www.gozzilioni.net'><i> Gozzilioni's Page</i></a><br>
    <a href='https://github.com/odraccir/'><i class='icon-github'> </i></a>
    <a href='/atom.xml' rel='alternate' type='application/atom+xml' title='{{ site.author }} Atom Feed'><i class='icon-rss'></i></a>
  </div>
  <br />
  <ul class='nav-menu'>
    <li id="nav-home"><a href="/"><i class="icon-chevron-right"></i> home</a></li>
    <li id="nav-posts"><a href="/posts/"><i class="icon-chevron-right"></i> posts</a></li>
    <li id="nav-about"><a href="/about/"><i class="icon-chevron-right"></i> about</a></li>
  </ul>
</header>
    
  